package views

templ Home() {
	@Layout() {
		<div>
			<div class="relative h-screen w-screen">
				<h1 class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-5xl font-bold">Go Starter</h1>
				<div class="p-4 flex">
					<button
						class="bg-grey-200 py-2 px-4 rounded-lg ml-auto"
						hx-get="/auth/login"
						hx-target="body"
						hx-push-url="true"
					>Log In</button>
				</div>
			</div>
		</div>
	}
}
